body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#questionImageContainer, #interactiveArea, #inputs, #explanation, #hintSection {
    margin-bottom: 20px;
}

.hint-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.hint-btn:hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
}

#hintList {
    text-align: left;
    padding-left: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}


#questionImageContainer img {
    max-width: 50%; // 确保图片不会超过容器宽度
    height: auto; // 自动调整图片高度以保持比例
    margin: 0 auto; // 居中图片
}

#questionImage, #questionImage2, #questionImage3 {
    max-width: 50%; // 如果需要额外的限制，可设置更小的最大宽度
    height: auto;
    display: block; // 确保图片在其容器内正常显示
    margin: 10px auto; // 增加上下边距，使图片不贴近容器边缘
}
